.Title {
    -fx-font-size: 100px; /* Set font size */
    -fx-fill: #FFCF0E; /* Set font color */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
    -fx-padding: 20px; /* Add padding around the text */
}
.email {
    -fx-font-size: 20px; /* Set font size */
    -fx-fill: #FFFFFF; /* Set font color */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
    -fx-padding: 20px; /* Add padding around the text */
    -fx-font-position: center;
}
.placeholder {
    -fx-font-size: 15px; /* Set font size */
    -fx-prompt-text-fill: #494949;
    -fx-font-family: "VCR OSD MONO";
    -fx-font-position: center;
    -fx-background-color: rgba(255, 255, 255, 0.65);
    -fx-background-radius: 5;
    -fx-border-radius: 5px;
}

.signUp {
    -fx-background-color: #DBB20E; /* Set button background color */
    -fx-text-fill: white; /* Set button text color */
    -fx-font-size: 20px; /* Set button text font size */
    -fx-padding: 20px 65px; /* Add padding inside the button */
    -fx-border-radius: 5px; /* Rounded corners for the button */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
    -fx-background-radius: 5;
    -fx-cursor: hand;

}
.login {
    -fx-background-color: #3CB878; /* Set button background color */
    -fx-text-fill: white; /* Set button text color */
    -fx-font-size: 20px; /* Set button text font size */
    -fx-padding: 20px 65px; /* Add padding inside the button */
    -fx-border-radius: 5px; /* Rounded corners for the button */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.signUp:hover {
    -fx-background-color: #CBA613; /* Darken button background when hovered */
}
.signUp:pressed {
    -fx-background-color: #AB8D17;
}
.login:hover {
    -fx-background-color: #0F9650; /* Background color on hover */
}
.login:pressed {
    -fx-background-color: #0D7D43; /* Background color when pressed */
}
.error-message {
    -fx-font-size: 18px;
    -fx-fill: #CC0000;
    -fx-font-family: "VCR OSD MONO";
    -fx-padding: 5px;
}