/* Sidebar container */
.Title {
    -fx-font-size: 50px; /* Set font size */
    -fx-fill: #FFCF0E; /* Set font color */
    -fx-padding: 5;
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
    -fx-alignment: center-top;
}
.description {
    -fx-font-size: 15px; /* Set font size */
    -fx-fill: #FFFFFF; /* Set font color */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
}

.description2 {
    -fx-font-size: 15px; /* Set font size */
    -fx-fill: #FFAE00; /* Set font color */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
}

.question {
    -fx-font-size: 20px; /* Set font size */
    -fx-fill: #FFFFFF; /* Set font color */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
}
.placeholder {
    -fx-font-size: 15px; /* Set font size */
    -fx-prompt-text-fill: #494949;
    -fx-font-family: "VCR OSD MONO";
    -fx-font-position: center;
    -fx-background-color: rgba(255, 255, 255, 0.65);
    -fx-background-radius: 5;
    -fx-border-radius: 5px;
}
.signUp {
    -fx-background-color: #DBB20E; /* Set button background color */
    -fx-text-fill: white; /* Set button text color */
    -fx-font-size: 20px; /* Set button text font size */
    -fx-padding: 20px 65px; /* Add padding inside the button */
    -fx-border-radius: 5px; /* Rounded corners for the button */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
    -fx-background-radius: 5;

}
.start-button{
    -fx-text-fill: #FFFFFF; /* Light gray text */
    -fx-font-size: 15px;
    -fx-padding: 10px 15px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
    -fx-background-color: #9FA18C;
    -fx-cursor: hand;

}
.view-button{
    -fx-text-fill: #FFFFFF; /* Light gray text */
    -fx-font-size: 15px;
    -fx-padding: 10px 15px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
    -fx-background-color: #363E29;
    -fx-cursor: hand;

}
.login {
    -fx-background-color: #3CB878; /* Set button background color */
    -fx-text-fill: white; /* Set button text color */
    -fx-font-size: 20px; /* Set button text font size */
    -fx-padding: 20px 65px; /* Add padding inside the button */
    -fx-border-radius: 5px; /* Rounded corners for the button */
    -fx-font-family: "VCR OSD MONO"; /* Set font family */
    -fx-background-radius: 5;
}
.scroll-pane {
    -fx-background-color: rgba(100,100,100,0.8);
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background: transparent;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-pane .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 10px;
}

.sidebar {
    -fx-background-color: rgba(100,100,100,0.8); /* Dark blue background */
    -fx-padding: 20;
    -fx-spacing: 20; /* Space between menu items */
}
.text {
    -fx-alignment: center;
    -fx-font-family: "VCR OSD MONO";
}
/* buttons of the sidebar */
.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: #ecf0f1; /* Light gray text */
    -fx-font-size: 15px;
    -fx-padding: 10px 15px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-alignment: center-left;
}
.view-button:hover {
    -fx-background-color: #1F2711;
}
.start-button:hover {
    -fx-background-color: #80826F;
}
/* Hover effect for sidebar buttons */
.menu-button:hover {
    -fx-background-color: #C19A19;
}

/* Focused or selected sidebar buttons */
.view-button:pressed {
    -fx-background-color: #0E1403;
}
.start-button:pressed {
    -fx-background-color: #4A4B40;
}
.menu-button:pressed {
    -fx-background-color: #58470E;
}

.delete-button {
    -fx-background-color: #FF4C4C;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.delete-button2 {
    -fx-background-color: #CC0000; /* Darker red */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

